/* SITE GRID + PAGE CONTAINER */
.site-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto)); /* Adjust minmax */
    gap: 2rem;
    width: 100%;
    max-width: 1700px;
    justify-content: center; /* Centers the grid itself */
    justify-items: center; /* Centers the grid items in their respective columns */
    margin: 1rem;
}

.site-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative; /* To position the profile picture in the top right */
}

/* SITE HEADER STYLES */
.site-header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative; /* To allow positioning the profile picture */
}

.site-header__title {
    font-size: 3.5rem;
    color: var(--primary-color);
    margin-bottom: 0;
    line-height: 1.1;
    margin-top: 0;
    font-family: serif;
}

.site-header__welcome-user {
    color: white;
    font-size: 2.1rem;
    margin: 1rem;
    line-height: 1;
    border-bottom: 3px solid lightsteelblue; /* Adds a nice underline */
    padding-bottom: 5px; /* Spacing between the text and underline */
}

.site-header__instructions{
    min-width: 300px;
    max-width: 800px;
    color: white;
    background-color: rgba(240, 248, 255, 0.1);
    border: 3px solid #1c1c1c;
    padding: 1.5rem;
    border-radius: 150px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.site-header__profile-picture {
    position: absolute;
    top: 0;
    right: 20px;
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    transition: transform 0.2s ease;
}

.site-header__profile-picture:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .site-content-grid {
        display: flex;
        flex-direction: column;
    }

    .site-header__profile-picture {
        top: -5px; /* Adjust position of profile picture on smaller screens */
        right: 5px;
        max-width: 80px;
        max-height: 80px;
    }
}

@media (max-width: 650px) {
    .site-header__profile-picture {
        top: -10px; /* Adjust position of profile picture on smaller screens */
        right: -10px;
        max-width: 50px;
        max-height: 50px;
    }
}
@media (max-width: 480px) {
    .site-header__profile-picture {
        display: none;
    }
}


/* -------------------------------------------------------------------------------------------------------------------*/
/* PROFILE STYLES */

.profile__upload-restrictions-note{
    text-align: left;
    color: black;
    font-size: 1rem;
    font-style: italic;
    list-style-type: disclosure-closed;

}
.profile__upload-dir-note, .profile__default-dir-note, .profile__upload-website-note {
    margin-bottom: 1rem;
    color: black;
}

.profile__user-dir-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__user-dir-item {

    padding-top: .3rem;
    width: 100%; /* Adjust width to fit the parent container */
    max-width: 400px; /* Max width to prevent it from stretching too far */

    transition: box-shadow 0.3s ease;
}

.profile__user-dir-link {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-family: monospace;
    display: block;
    margin-bottom: 1rem;
    cursor: default;
}

.profile__user-dir-item:hover {
    .profile__user-dir-link{
        color:white;
    }

}

.user-dir-btn{
    opacity: 0;
    margin: 0 1rem;
    padding: 1rem;
    height: 30px;
    min-width: 80px;
    transition: background-color 0.15s ease, color 0.15s ease, opacity 0.15s ease, box-shadow 0.15s ease;
    box-shadow: none;
    background-color: transparent; /* Transparent background initially */
    display: flex; /* Center text */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */

}
.delete-btn{
    border: 2px solid #ff3c3c; /* Use border instead of box-shadow for borders */
    color: #ff3c3c;

}
.query-btn{
    border: 2px solid limegreen; /* Use border instead of box-shadow for borders */
    color: limegreen;
}

.delete-btn:hover{
    box-shadow: none;
    border: 2px solid #ff3c3c;
    background-color: #ff3c3c;
    color: white;
}

.query-btn:hover{
    box-shadow: none;
    border: 2px solid limegreen;
    background-color: limegreen;
    color: white;
}

.profile__user-dir-item:hover{
    .delete-btn{
        opacity: 100%;
        transition: opacity .7s ease-in-out;
    }
    .query-btn{
        opacity: 100%;
        transition: opacity .7s ease-in-out;
    }
}
/* Show buttons when hovering over the list item */
.profile__user-dir-item:hover .flex-row-center {
    display: flex; /* Show the buttons on hover */
}

.profile__upload-dir-input,
#profile__upload-button {
    display: block; /* Ensure they are block-level elements */
    /* Center horizontally with margin */
    margin: 27px auto 1rem;
}

.profile-upload__key-container{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-directories{

    max-height: fit-content;
    align-self: start;
    min-height: 389px;
}

.profile-upload{
    max-height: fit-content;
    align-self: start;
    min-height: 389px;
}

.profile-scrape{
    max-height: fit-content;
    align-self: start;
    min-height: 389px;
}

.profile-default-directory{
    max-height: fit-content;
    align-self: start;
    min-height: 389px;
}
#error-message {
    color: #c30000; /* Keep the red for error visibility */
    background-color: black; /* Slight white background for contrast */
    padding: 0.5rem; /* Add some padding for spacing around the text */
    margin: 0.5rem 0 0 0; /* Add margin for separation from other elements */
    border-radius: 4px; /* Soften the edges */
    font-weight: bold; /* Make the text stand out */
    font-size: 1rem; /* Ensure the text is legible */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Add a subtle border for definition */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to make the error pop */
    display: none;
}

.key-selection-instructions{
    color: black;

}

.directory__key-item{
    color: black;
    box-shadow: none;
    border: 2px solid black;
    min-width: 80px;
    margin: .7rem;
    border-radius: 12px;
}
.directory__key-item:hover{
    background-color: white;
    box-shadow: none;
    border: 2px solid black;
}

.select-button{

}

/* -------------------------------------------------------------------------------------------------------------------*/
/* SCRAPE PAGE */
/* General form styling */
.scrape-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adds spacing between form elements */
}

/* Form group to group label and input */
.form-group {
    display: flex;
    flex-direction: column;
}

/* Label styling */
.form-label {
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Input field styling */
.form-input,
.form-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-input:focus,
.form-select:focus {
    border-color: #007BFF; /* Blue border on focus */
    outline: none;
}

.grid-config{
    grid-column-start: 1;
    grid-column-end: 3;
}


/* -------------------------------------------------------------------------------------------------------------------*/
/* QUERY MODES */

.query-modes__card-icon{
    width: 40px;
    height: 40px;
    padding: .5rem;
}

.query-modes__card-description{
    color: black;
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* BOOLEAN PAGE */

.boolean-formats{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boolean-formats__description{
    padding: 1.5rem;
    min-width: 300px;
    max-width: 800px;
    color: white;
    background-color: rgba(240, 248, 255, 0.1);
    border: 3px solid #1c1c1c;
    border-radius: 150px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.boolean-formats__title {
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.boolean-formats__content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boolean-formats__card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.boolean-formats__card-description {
    color: black;
    margin-bottom: 1rem;
    padding: 0;
}

.boolean-formats__example {
    font-size: 1.1rem;
    color: azure;
    font-style: italic;
    padding: 0;
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* RANKED  PAGE */
.ranking-schemes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ranking-schemes__card-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.ranking-schemes__title{
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.ranking-schemes__description{
    min-width: 300px;
    max-width: 800px;
    color: white;
    background-color: rgba(240, 248, 255, 0.1);
    border: 3px solid #1c1c1c;
    padding: 2rem;
    border-radius: 150px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.ranking-schemes__formula-img{
    height: 150px;
    width: 250px;
    display: block;
    border-radius: 25px;
    margin: auto;
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* Results Page */
.query-results__header {
    grid-column: 1 / -1; /* This makes the header take up the full width of the grid */
    margin-bottom: 2rem; /* Optional margin to separate the header from the results */
    text-align: center;  /* Center the header text */
}

.query-results__container {
    display: flex;
    flex-wrap: wrap; /* Allow the cards to wrap onto the next row */
    gap: 1rem; /* Add spacing between the cards */
    justify-content: center; /* Center the cards horizontally */
}

.query-results__card {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s;
    flex: 1 1 250px;
    max-width: 300px;
}

.query-results__card:hover {
    transform: translateY(-5px); /* Add a subtle hover animation */
}

.result-link {
    display: block;
    margin-top: 0.5rem;
    color: var(--primary-color);
    text-decoration: none;
}

.result-link:hover {
    text-decoration: underline;
}


#google-login{
    padding: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column: 1 / 3;
}



