/* SITE GRID + PAGE CONTAINER */
.site-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto)); /* Adjust minmax */
    gap: 2rem;
    width: 100%;
    max-width: 1400px;
    justify-content: center; /* Centers the grid itself */
    justify-items: center; /* Centers the grid items in their respective columns */
    margin: 1rem;
}

.site-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative; /* To position the profile picture in the top right */
}

/* SITE HEADER STYLES */
.site-header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative; /* To allow positioning the profile picture */
}

.site-header__title {
    font-size: 3.5rem;
    color: var(--primary-color);
    margin-bottom: 0;
    line-height: 1.1;
}

.site-header__welcome-user {
    color: white;
    font-size: 2.1rem;
    margin: 1rem;
    line-height: 1;
    border-bottom: 3px solid lightsteelblue; /* Adds a nice underline */
    padding-bottom: 5px; /* Spacing between the text and underline */
}

.site-header__instructions{
    min-width: 300px;
    max-width: 800px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
    background-color: rgba(240, 248, 255, 0.1);
    border: 3px solid lightsteelblue;
    padding: 1.5rem;
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.site-header__profile-picture {
    position: absolute;
    top: 0;
    right: 20px;
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    transition: transform 0.2s ease;
}

.site-header__profile-picture:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .site-content-grid {
        display: flex;
        flex-direction: column;
    }

    .site-header__profile-picture {
        top: -5px; /* Adjust position of profile picture on smaller screens */
        right: 5px;
        max-width: 80px;
        max-height: 80px;
    }
}

@media (max-width: 650px) {
    .site-header__profile-picture {
        top: -10px; /* Adjust position of profile picture on smaller screens */
        right: -10px;
        max-width: 50px;
        max-height: 50px;
    }
}
@media (max-width: 480px) {
    .site-header__profile-picture {
        display: none;
    }
}


/* -------------------------------------------------------------------------------------------------------------------*/
/* PROFILE STYLES */

.profile__upload-dir-note, .profile__default-dir-note {
    margin-bottom: 1rem;
    color: black;
}

.profile__user-dir-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__user-dir-item{
    margin-bottom: 1rem;
}

.profile__user-dir-link{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-family: monospace;
}

.profile__user-dir-link:hover {
    color: white;
    text-shadow: 0 1px 2px black;
    cursor: pointer;
}

.profile__upload-dir-input,
#profile__upload-button {
    display: block; /* Ensure they are block-level elements */
    margin: 27px auto; /* Center horizontally with margin */
}

#error-message {
    color: red;
    background-color: aliceblue;
    border: 2px solid red;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
    display: block;
}
/* -------------------------------------------------------------------------------------------------------------------*/
/* QUERY MODES */

.query-modes__card-icon{
    width: 40px;
    height: 40px;
    padding: .5rem;
}

.query-modes__card-description{
    color: black;
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* BOOLEAN PAGE */

.boolean-formats__description{
    padding: 0;
}
.boolean-formats__title {
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.boolean-formats__card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.boolean-formats__card-description {
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
    padding: 0;
}

.boolean-formats__example {
    font-size: 0.9rem;
    color: white;
    font-style: italic;
    padding: 0;
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* RANKED  PAGE */

.ranking-schemes__card-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.ranking-schemes__title{
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.ranking-schemes__description{
    min-width: 300px;
    max-width: 800px;
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* Results Page */
.query-results__header {
    grid-column: 1 / -1; /* This makes the header take up the full width of the grid */
    margin-bottom: 2rem; /* Optional margin to separate the header from the results */
    text-align: center;  /* Center the header text */
}

.query-results__container {
    display: flex;
    flex-wrap: wrap; /* Allow the cards to wrap onto the next row */
    gap: 1rem; /* Add spacing between the cards */
    justify-content: center; /* Center the cards horizontally */
}

.query-results__card {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s;
    flex: 1 1 250px;
    max-width: 300px;
}

.query-results__card:hover {
    transform: translateY(-5px); /* Add a subtle hover animation */
}

.result-link {
    display: block;
    margin-top: 0.5rem;
    color: var(--primary-color);
    text-decoration: none;
}

.result-link:hover {
    text-decoration: underline;
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* DOCUMENTATION */

.active{
    color: #fff;
    background-color: black;
}

.sidebar {
    background-color: rgb(30, 30, 30);
    padding-top: 20px;
    position: fixed;
    height: 100vh;
    width: 200px;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.documentation{
    margin-left: 200px;
    text-align: left;
    padding: 0rem 4rem;
}

.documentation p{
    text-align: left;
    overflow: hidden;
}

.arch-diagram{
    margin: 0px 100px;
}

.section {
    scroll-margin-top: 200px; /* Adjust this value to the height of your fixed header */
    margin: 2rem 0rem;

}

.ranked{
    margin: 0px 200px;
}

#google-login{
    padding: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    grid-column: 1 / 3;
}



