/* BASE STYLES */
body{
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Open Sans', system-ui;
    line-height: 2rem;
    text-align: center;
    background-color: #121212;
    color: white;
}

p{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

h1{
    color:white;
    font-size: 3rem;

}

h2{
    color: white;
    font-size: 2.3rem;
}

h3{
    color: beige;
    font-size: 2rem;
    margin: 15px 0;
}
h4{
    text-align: center;
}

button{
    cursor: pointer;
    height: 35px;
    font-size: .8rem;
    border-radius: 15px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 110px;
    color: beige;
    box-shadow: inset 0 0 0 2px beige;
    background-color: transparent;
    transition-duration: .2s;
    margin: 25px 0;
}

button:hover{
    color: beige;
    background-color: lightslategray;
}

li, a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

li a:hover{
    transition: padding .3s, top .3s, box-shadow .3s;
    box-shadow: 0 0.2rem 0 0 lightslategray;
}

/* UTILITY CLASSES */
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.flex-container {
    display: flex;
}

.margin-horizontal-10rem{
    margin: 0 10rem;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 0 3rem;
}


/* COMPONENTS */

.sidebar {

    background-color: rgb(30, 30, 30);
    padding-top: 20px;
    position: fixed;
    height: 100vh;
    width: 200px;


}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}
.search-div{
    margin-top: 15px;
}
.search-box {
    padding: 10px;
    width: 80px;
    height: 80px;
    border: 4px solid darkslategray;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: white;
    outline: none;
    transition: .5s;
}

.box:hover input{
    width: 450px;
    background: lightslategray;
    border-radius: 10px;
}

.hero__container{
    padding: 60px 0;
    background-image: url(../images/barberry.jpg);
    background-size: cover;
    border-bottom: 5px solid #666;
    position: sticky;
    top: 0;
}

.hero__navbar{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 1.1rem;
    gap: 1rem;
    margin-right: 35px;
}
.profile__link {
    position: absolute;
    top: 20px; /* Adjust as necessary */
    right: 20px; /* Adjust as necessary */
}

.profile__logo {
    width: 70px; /* Adjust as necessary */
    height: 50px; /* Adjust as necessary */
    cursor: pointer;
}

.card{
    width: 400px;
}

.error-message{
    color: #880808;
}

.loading-spinner {
    margin-top: 5rem;
    width: 48px;
    height: 48px;
    border: 5px solid darkslategray;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.upload-corpus-div{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.result-link{
    color: darkslategray;
}

.active{
    color: #fff;
    background-color: lightslategray;
}

.documentation{
    margin: 0 10rem 0 200px;
    text-align: left;
}

.documentation p{
    text-align: left;
    overflow: hidden;
}
.arch-diagram {
    float: left;
    margin: 0 15px 15px 0;
}
.section {
    scroll-margin-top: 300px /* Adjust this value to the height of your fixed header */
}



