/* 
TODO:
    - Comment
    - Responsive design 
    - Accessibility
    
*/



body{
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Open Sans', system-ui;
    line-height: 2rem;
    text-align: center;
}

.hero-container{
    padding: 60px 0px;
    background-image: url(/assets/images/barberry.jpg);
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-right: 50px;
}

h1{
    color:wheat;
    font-size: 4rem; 
}

h2{
    color: wheat;
    font-size: 2.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkslategray;
}

h3{
    color:lightslategrey;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkslategray;
    margin: 15px 0px; 
}

button{
    cursor: pointer;
    height: 35px;
    font-size: .8rem;
    border-radius: 15px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 110px;
    color: lightslategray;
    box-shadow: inset 0 0 0 2px lightslategray;
    background-color: transparent;
    transition-duration: .2s;
    margin: 15px 0px;
}

button:hover{
    color: #fff;
    background-color: lightslategray;
}

.back-button-container{
    display: flex;
    justify-content: center;
}

.back-button
{
    display: none;
}

.overview{
    margin: 0rem 10rem;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card{
    width: 300px;
}

li, a{
    text-decoration: none;
    list-style-type: none;
    color: wheat;
}
li a:hover{
    transition: padding .3s, top .3s, box-shadow .3s;
    box-shadow: 0 0.2rem 0 0 lightslategray;
}
.searchbox {
    padding: 10px;
    width: 80px;
    height: 80px;
    border: 4px solid darkslategray;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: wheat;
    outline: none;
    transition: .5s;
}

.box:hover input{
    width: 450px;
    background: lightslategray;
    border-radius: 10px;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}


  